.button {
    box-sizing: border-box;
    position: relative;
    border-radius: 22px;
    border: 1px black solid;
    width: 200px;
    height: 41px;
    cursor: pointer;
    background-color: inherit;
<<<<<<< HEAD
    margin: 15px;
=======
    margin: 10px;
>>>>>>> 0f321dba9b6f9e6f1bafbac75ede5ed3db546e25
}

.button:hover {
    border-color: #61dafb;
}

.button:active {
    border-color: #61dafb;
}

.button:focus {
    outline: none;
}
