.info_bar__wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-evenly;
    padding: 20px;
    border: #d8d8d8 1px solid;
    font-family: Arial;
}

.image__container {

}

.object_image {
    width: 100%;
    height: auto;
}

.info__container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.object_info {
    margin: 10px;
}